/* .App{
  width: 100% ;
} */
.list {
  width:600px !important;
  display: flex !important;
  margin-top: 50px !important;
  justify-content: space-around !important;
  

} 
 
.chaine{
 
  min-width: 600px !important;
 max-width: 600px !important;
 max-height: 370px !important;
min-height: 370px !important;
} 

.sugg{
  margin-left: 750px;
  margin-top: 0px;
} 